body {
    font-family: 'Righteous', cursive;
}

.page {
    margin-top: 7%;
    display: grid;
    grid-template-rows: minmax(50px, 1fr) minmax(50px, 2fr) 50px;
    grid-template-columns: 1fr 1fr;
}

.end-screen {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

#save-button {
    width: 30%;
    font-size: 14px;
    font-weight: 450;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.start-button {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.start-button:hover, .view-highscore-button:hover, p:hover, #save-button:hover {
    cursor: pointer;
}

.start-button:active, .view-highscore-button:active, p:active, #save-button:active {
    transform: translateY(3px); 
}

.questions-field {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.title {
    width: 80%;
    margin: auto;
}

.time {
    grid-column: 1 / -1;
    text-align: center;
}

.view-highscore-button {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.save-btn {
    width: 20%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.options-field {
    display: flex;
    flex-direction: column;
}

p {
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    border: 2px solid #4287f5;
    border-radius: 15px;
    text-align: center;
}

.decoration {
    
    grid-column: 1 / -1;
}

.decoration img {
    display: block;
    width: 50%;
    height: 400px;
    margin: 0 auto;
}

.hide {
    display: none;
}

input {
    padding: 10px;
    border: 2px solid #4287f5;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 450;
}

input:focus, button:focus {
    outline: none;
}
@media screen and (min-width: 678px) {
    .page {
        grid-template-rows: minmax(100px,0.7fr) minmax(100px,0.7fr) 3fr;
        grid-template-columns: 1fr 1fr;
    }

    .start-button {
        grid-column: 1 / 2;
        align-self: center;
        justify-self: center;
        padding: 10px;
        border: 2px solid black;
        border-radius: 15px;
    }

    .view-highscore-button {
        grid-column: 2 / -1;
    }
    
    .questions-field {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        align-self: center;
        justify-self: center;
    }
    .time {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
    }

    .decoration {
        grid-column: 2 / -1;
    }

    .decoration img {
        display: block;
        width: 55%;
        height: 400px;
        margin: 0 auto;
    }

}


